{{#if errorsObj}}
<div id="notifications">
  <p id="notification-message">
    {{#each errorsObj.messages}}
    {{this}}<br>
    {{/each}}
  </p>
</div>
{{/if}}
<h1>Create</h1>
<div class="form">
  <form action='/create' method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{body.name}}">
    <label for="name">Description</label>
    <textarea id="name" name="description">{{body.description}}</textarea>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl" value="{{body.imageUrl}}">
    <label for="difficulty">Difficulty</label>
    <select id="difficulty" name="difficultyLevel">
      {{#each body.difficulties}}
      <option value="{{value}}" {{selected}}>{{text}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Create">
  </form>
</div>