{{#if errorsObj}}
<div id="notifications">
    <p id="notification-message">
        {{#each errorsObj.messages}}
        {{this}}<br>
        {{/each}}
    </p>
</div>
{{/if}}
{{#with cubicle}}
<h1>Edit Cube</h1>
<div class="form">
    <form action="/edit/{{_id}}" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{name}}">
        <label for="description">Description</label>
        <textarea id="description" name="description">{{description}}</textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" name="difficultyLevel" />
        {{#each difficulties}}
        <option value="{{value}}" {{selected}}>{{text}}</option>
        {{/each}}
        </select>
        <input type="submit" value="Edit">
    </form>
</div>
{{/with}}